body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #00a1ab;
  font-weight: 900;
  margin-top: 3em;
  margin-bottom: 0;
}

.subhead {
  font-size: 1.3125rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.plans {
  display: flex;
  justify-content: center;
}

.plan {
  
  width: 200px;
  padding: 2em;
  border-radius: 1em;
  margin: 0 0.5em;
}

.plan__gray{
  background: linear-gradient(-45deg,  #e5e3e8, #fafafa);
  color: #00A1AB;
  
}

.plan__gray .plan__title,
.plan__gray .plan__description{

  color: #4E4E4E;
  
}

.plan__middle{
  background: linear-gradient(-45deg, #00a1ab, #3741a0);
  color: white;

}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

.button {
  text-decoration: none;
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 1em;
  
  
}

.button__middle{
    background-color: #FFFFFF;
    color: #4E4E4E;
  }

.button__gray{
  background-color: #4E4E4E;
  color: #FFFFFF;

}